body {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
container {
    text-align: center;
}

p {
    background-color: white;
}

.branches {
    font-size: 30px;
    margin: 2px solid;
    color: white;
}

.branches li{
    color: black;
}

.branches h1 {
    background-color: black;
}