body {
    background-color: rgb(63, 53, 53);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
}
container {
    text-align: center;
}

p {
    background-color: red;
}

.branches {
    font-size: 30px;
    margin: 2px solid;
    color: black;
}

.branches li{
    color: black;
}

.branches h1 {
    background-color: red;
}